.search {
  width: 608px;
  height: 64px;
  position: relative;
  margin: 88px auto 0;
}

.search__bar {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(22 / 16);
  width: 416px;
  height: 64px;
  z-index: 1;
  position: absolute;
  border-radius: 100px;
  padding: 0 168px 0 24px;
  border: none;
  overflow: hidden;
}

.search__submit {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #fff;
  width: 168px;
  height: 64px;
  position: absolute;
  z-index: 2;
  border-radius: 100px;
  border: none;
  background-color: #2f71e5;
  padding: 0;
  right: 0px;
  transition: background-color 0.25s linear;
}

.search__submit:hover {
  cursor: pointer;
  background-color: #347eff;
}

@media screen and (max-width: 1000px) and (min-width: 768px) {
  .search {
    width: 452px;
    height: 56px;
    margin: 48px auto 0;
  }

  .search__bar {
    width: 428px;
    height: 56px;
    padding: 0 0 0 24px;
  }

  .search__submit {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    width: 288px;
    height: 128px;
    margin: 0 auto;
  }

  .search__bar {
    width: 256px;
    height: 56px;
    padding: 0 16px;
    position: static;
  }

  .search__submit {
    width: 288px;
    height: 56px;
    text-align: center;
    position: static;
    margin-top: 16px;
  }
}
