.saved-news-header {
  width: 1440px;
  margin: 0 auto 56px;
}

.saved-news-header__bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid #d1d2d6;
  box-sizing: border-box;
}

.saved-news-header__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0 0 0 104px;
  text-decoration: none;
}

.saved-news-header__title:hover {
  cursor: pointer;
}

.saved-news-header__intro {
  width: 1400px;
  margin: 0;
}

.saved-news-header__saved-articles {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #1a1b2280;
  margin: 40px 0 0 104px;
}

.saved-news-header__text {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: calc(46 / 40);
  color: #1a1b22;
  width: 530px;
  overflow: visible;
  margin: 28px 0 0 104px;
}

.saved-news-header__keywords {
  display: flex;
  margin: 30px 0 0 104px;
  gap: 4px;
}

.saved-news-header__keywords-text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #1a1b22;
  margin: 0;
}

.saved-news-header__keywords-keywords {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  margin: 0;
}
