.saved__news {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 576px;
  gap: 16px;
  padding: 62px 104px;
  margin: 0;
  list-style-type: none;
  background-color: #f5f6f7;
}
