.success-modal__title {
  max-width: 315px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(28 / 24);
  color: #000;
  margin: 43px 0 0 36px;
}

.success-modal__link {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21.78 / 18);
  color: #2f71e5;
  margin: 14px 0 51px 36px;
  transition: color 0.5s linear;
}

.success-modal__link:hover {
  cursor: pointer;
  color: #347eff;
}
