.preloader {
  width: 1440px;
  background-color: #f5f6f7;
  padding: 80px 0;
}

.preloader_type_hidden {
  position: absolute;
  visibility: hidden;
}

.preloader__circle {
  display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 0.75s infinite linear;
}

.preloader__text {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(24 / 18);
  color: #b6bcbf;
  text-align: center;
  margin: 24px auto 0;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
