.header {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  border-bottom: 2px solid #c4c4c433;
  box-sizing: border-box;
}

.header__title {
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(24 / 20);
  margin: 0 0 0 104px;
  color: #fff;
}

.header__title:hover {
  cursor: pointer;
}
