.news-cards {
  max-width: 100%;
  background-color: #f5f6f7;
  padding: 80px 0;
}

.news-cards_type_hidden {
  display: none;
  position: absolute;
  visibility: hidden;
}

.news-cards__title {
  max-width: 1232px;
  font-family: "Roboto Slab", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: calc(46 / 40);
  color: #1a1b22;
  margin: 0 auto;
  padding-bottom: 64px;
}

.news-cards__list {
  max-width: 1232px;
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3, 400px);
  grid-template-rows: 576px;
  gap: 16px;
  margin: 0 auto;
  padding: 0;
}

.news-cards__show-more {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(24 / 18);
  border: none;
  border-radius: 50px;
  margin: 64px auto 0;
  width: 288px;
  height: 64px;
  padding: 0;
  background-color: #fff;
  transition: background-color 0.2s linear;
}

.news-cards__show-more:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.news-cards__show-more_type_hidden {
  display: none;
}

@media screen and (max-width: 1279px) and (min-width: 1000px) {
  .news-cards__title {
    max-width: 846px;
  }

  .news-cards__list {
    max-width: 846px;
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 999px) and (min-width: 768px) {
  .news-cards {
    max-width: 100%;
    padding: 40px 0;
  }

  .news-cards__title {
    max-width: 688px;
    font-size: 30px;
    line-height: calc(34 / 30);
    padding-bottom: 32px;
  }

  .news-cards__list {
    max-width: 688px;
    grid-template-columns: repeat(3, 224px);
    grid-template-rows: 420px;
    gap: 8px;
    margin: 0 auto;
  }

  .news-cards__show-more {
    width: 240px;
    height: 56px;
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .news-cards {
    max-width: 100%;
    padding: 32px 0 24px;
  }

  .news-cards__title {
    width: 288px;
    font-size: 30px;
    line-height: calc(34 / 30);
    margin-bottom: 58px;
    padding-bottom: 0;
  }

  .news-cards__list {
    width: 288px;
    grid-template-columns: 288px;
    grid-template-rows: 440px;
    gap: 10px;
    margin: 0 auto;
  }

  .news-cards__show-more {
    width: 288px;
    height: 56px;
    margin: 16px auto 0;
  }
}
